li {
  list-style: none;
}
input:focus {
  outline: none;
}
.mv-container {
  position: relative;
  text-align: center;
  background-color: aliceblue;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.close img {
  width: 35px;
  height: 35px;
}
.close  {
  position: absolute;
  top: 0;
  right: 0;
}
