
.bj-container {
  position: relative;
  height: 1000px;
  text-align: center;
  background: url(../../images/blackjack/bgc.png);
  background-repeat: no-repeat;
  background-size: cover; 
  /* padding: 10px; */
  /* border: 1px solid red; */
}

.bgc {
  padding-top: 220px;
  font-size: 100px;
  color: rgb(135, 99, 9);
}
.close img {
  width: 35px;
  height: 35px;
}
.close  {
  position: absolute;
  top: 0;
  right: 0;
}