* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

/* deal button */
.deal {
  position: absolute;
  top: 40%;
  right: 15%;
}

/* hit stand buttons */
.player .hit {
  position: absolute;
  top: 40%; 
  left: 10%;
}
.player .stand {
  position: absolute;
  top: 40%; 
  right: 1%;
}
.exit {
  position: absolute;
  top: 82%;
  left: 50%;
}

/* dealer player scores */
.dealer-show {
  top: 20%; 
  right: 5%;
} 
.player-show {
  bottom: 30%; 
  right: 5%;
}
.player .score{
  position: absolute;
  color: rgb(0, 155, 180);
  font-size: 30px;
  font-weight: 700;
}
.player .score::before{
  content: "";
  position: absolute;
  top: -20px;
  right: 90px;
  width: 80px;
  height: 80px; 
  margin-right: 5px; 
  background: black;
  opacity: 0.2;
  border: black solid 1px;
  border-radius: 50%;
}
.player .score span{
  position: absolute;
  top: -8px;
  right: 110px;
  color: white;
  font-size: 45px;
}

/* dealer player cards */
.cards{
  position: absolute;
  left: 45%;
  transform: translate(-50%);
  height: 300px;
}
.dealer-cards{
  top: 5%;
}
.player-cards{
  bottom: 20%;
}

/* show card  560/820*/
.cards li{
  float: left;
  margin-right: -150px;
  width: 200px;
  height: 300px;
  background-color: white;
  border: solid black 1px;
  border-radius: 5%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.cards .bgc-img{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 3%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
.cards li div{
  width: 60px;
  height: 60px;
  font-size: 50px;
  font-weight: 700;
}
.cards li .img1{
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.cards li .img2{
  display: block;
  width: 130px;
  height: 130px;
  margin: 15px auto;
}

/* className="dealer-result result" */
.result {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 50px;
  font-weight: 700;
  color: rgb(240,240,240);
}
.dealer-result {
  top: 15%;
  background: rgb(0, 155, 180);
  animation: hideAnimation 0s ease-in 2s;
  animation-fill-mode: forwards;
}
.player-result {
  bottom: 30%;
  background: rgb(0, 155, 180);
  animation: hideAnimation 0s ease-in 2s;
  animation-fill-mode: forwards;
}
@keyframes hideAnimation {
  to { 
    visibility: hidden;
  }
}
.final-result {
  top: 40%;
  background: rgb(230, 0, 115);
  animation: delayAnimation 0s linear 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes delayAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* shuffle */
.shuffle {
  top: 40%;
  padding: 10px 20px;
  background: rgb(230, 0, 115);
  animation: hideAnimation 0s ease-in 2s;
  animation-fill-mode: forwards;
}


